{block content}

<p>Bank account page</p>

<a n:href=":view" class="menu-item">Zobrazit bankovní účty a platební karty</a>
<a n:href=":addBankAccount" class="menu-item">Přidat bankovní účet</a>
<a n:href=":addCard" class="menu-item">Přidat platební kartu</a>