{block content}

<h1>Myfin - aplikace na evidenci výdajů pro rodinu</h1>

<br>

<h2>Můj maturitní projekt v roce 2021</h2>

<br>

<h3>Navštivte git repozitář: <a href="https://github.com/simonbrecher/expense_check">https://github.com/simonbrecher/expense_check</a></h3>