{block content}

<p>Payment page</p>

<a n:href=":viewPayment" class="menu-item">Zobrazit platby</a>
<a n:href=":import" class="menu-item">Importovat výpis z bankovního účtu</a>
<a n:href=":viewPaymentChannel" class="menu-item">Zobrazit výpisy</a>
<a n:href=":addPaymentChannel" class="menu-item">Přidat výpis</a>