{block content}

<a n:href=":import" class="menu-item">Importovat výpis z bankovního účtu</a>
<a n:href=":viewImport" class="menu-item">Zobrazit importy</a>
<a n:href=":viewPayment" class="menu-item">Zobrazit platby</a>
<a n:href=":viewPaymentChannel" class="menu-item">Zobrazit příkazy</a>
<a n:href=":addPaymentChannel" class="menu-item">Přidat příkaz</a>