{block content}

{if $user->isLoggedIn()}
    {*  signin pro editaci  *}
    <a n:href=":signin" class="menu-item">Upravit uživatelský účet</a>
{else}
    <div class="menu-container"><a n:href=":signin" class="menu-item">Založit uživatelský účet s novou rodinou.</a></div>
    <a n:href=":login" class="after-menu-item">Přihlásit se</a>
{/if}