hr { clear: both; border: none; height: 0; font-size: 0; margin: 0; }

        /** layout */
body { margin: 0; background-color: #F6F6F6; }
body, input, textarea { font-family: 'Open Sans', Arial; font-size: 15px; }
table td { border-collapse: collapse; }

.header-site { border-top: 1px solid #38D; height: 60px; background-color: #38D; }
.header-heading { width: 600px; margin: 15px auto 0 auto; font-size: 26px; text-align: center; color: #FFF; }
.site-container { width: 1100px; margin: 0 auto; padding: 22px 26px; background-color: #FFF; }

        /** menu */
.menu-container { float: left; margin-bottom: 12px; }
.menu-item { float: left; display: block; margin-right: 12px; background-color: #46E; color: #FFF; padding: 6px 14px 8px; }
.menu-item:last-child { margin-right: 0; }
.menu-item:hover { background-color: #1BE; }
.selected { background-color: #149; }
.selected:hover { background-color: #149; }

.after-menu-item { float: left; display: block; margin-left: 12px; background-color: #E54; color: #FFF; padding: 6px 14px 8px; }

/*        !** forms *!*/
/*.error { border: 3px solid #F00; padding: 5px 25px; color: #F00; }*/

        /** flash messages */
.flash-error, .flash-warning, .flash-info, .flash-success, .flash-autopair { font-size: 25px; padding: 5px 25px; margin-bottom: 3px; }
.flash-success { border: 4px solid #1F1; color: #1F1; }
.flash-info { border: 4px solid #EC0; color: #EC0; }
.flash-warning { border: 4px solid #F90; color: #F90; }
.flash-error { border: 4px solid #F00; color: #F00; }
.flash-autopair { border: 4px solid #0AD; color: #0AD; }