.view-category-title { background-color: #000; color: #FFF; margin: 5px 0 15px; padding: 12px 20px; }

.view-category-wrapper { }
.view-category-wrapper .category { margin-bottom: 14px; padding: 12px; background-color: #EEE; }
.view-category-wrapper .category-columnbox { max-width: 700px; float: left; }
.view-category-wrapper .category-linebox { float: left; clear: both; margin-bottom: 4px; }
.view-category-wrapper .category-linebox * { float: left; margin-right: 8px; }
.view-category-wrapper .category-name { color: #FFF; background-color: #000; padding: 4px; }
.view-category-wrapper .category-item { background-color: #888; padding: 4px; }

.view-category-wrapper .buttons * { margin-right: 8px; float: right; padding: 7px; color: #FFF; }
.view-category-wrapper .edit-button { background-color: #5AF; }
.view-category-wrapper .remove-button { background-color: #F00; }